<launch>
  <arg name="x" default="0" />
  <arg name="y" default="2" />
  <arg name="z" default="1" />



  <!-- Spawn Jackal -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
	      args="-file /home/axel/jackal_ws/src/jackal/jackal_description/urdf/ball.urdf -urdf  -model ball -x $(arg x) -y $(arg y) -z $(arg z) -R 0 -P 0 -Y " />
</launch>
